<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam sit odio facilis quo dolorum pariatur veniam deleniti odit quidem natus voluptatibus est, necessitatibus, iste voluptates totam corrupti delectus culpa voluptate!</p>
        </ul>
        <ul>
            <li><h1>Trabajo2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam sit odio facilis quo dolorum pariatur veniam deleniti odit quidem natus voluptatibus est, necessitatibus, iste voluptates totam corrupti delectus culpa voluptate!</p>
        </ul>
        <ul>
            <li><h1>Trabajo3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam sit odio facilis quo dolorum pariatur veniam deleniti odit quidem natus voluptatibus est, necessitatibus, iste voluptates totam corrupti delectus culpa voluptate!</p>
        </ul>

    </div>
</div>
