<div class="row" *ngIf="proyecto">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" routerLink="/nuevoproyecto" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>
    <div class="container-fluid" *ngFor="let Proyecto of proyecto">
        <div class="col-sm-12 col-md-7 col-lg-7 proyecto1a">
            <h3>{{Proyecto.nombre}}</h3>
            <p><b>{{Proyecto.descripcion}}</b></p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-lg-1 proyecto1b ">
            <img src={{Proyecto.img}} class="img-fluid img-proyecto">
        </div>
        <div class="buttonflex">
            <span *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editproyecto/{{Proyecto.id}}">
                    <i class="bi bi-pencil-fill"></i> EDITAR</button>
            </span>
            <span *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                    <i class="bi bi-trash-fill"></i> BORRAR</button>
            </span>
        </div>
    </div>
</div>