<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://www.linkedin.com/in/jesica-junco-520485235/"><img src="../../../assets/linkedin.png"></a>
                <a href="https://twitter.com/JessiBelenJ"><img src="../../../assets/twitter.png"></a>
                <a href="https://www.instagram.com/jesibelenjunco/"><img src="../../../assets/instagram.png"></a>
                <a href="https://github.com/JesicaJunco"><img src="../../../assets/github.png"></a>
                <a href="https://www.facebook.com/jesicabelen2/"><img src="../../../assets/facebook.png"></a>
                <button type="button" class="btn btn-outline-light"(click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light"(click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
            </div>
    </div>
</div>

